Your jboxx is now ready. You will need the following information:
<br/>
<table border="0" cellpadding="2" >
    <tr>
        <th>Parameter</th>
        <td> </td>       
		<th>Value</th>        
    </tr>

    <tr>
        <td>Root User Password</td>
        <td> </td>           
		<td>thincrust</td>        
    </tr>  
    
    <tr>
        <td>IP Address</td>
        <td> </td>           
		<td>ADD IPADDRESS HERE</td>        
    </tr>      

</table>
